.formulario {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.options {
    padding: 5px;
}

.options:hover {
    background-color: lightgray;
    cursor: pointer;
}





.secondBttn {
    color: var(--cordestaque) !important;
    width: 100%;
    border: solid 1px var(--cordestaque) !important;
}