.background {
    background-color: var(--cordestaque); 
    padding: 3rem 1rem; 
}

.carousel {
    max-width: 1200px;
    margin: 0 auto;
}

.carouselCard {
    background-color: white;
    border-radius: 15px;
    padding: 1.5rem;
    margin: 0 10px; /* Espaço entre os cards */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    min-height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.2s ease;
    align-items: center;
}

.carouselCard:hover {
    transform: translateY(-2px);
}

.title {
    font-size: 1.25rem;
    font-weight: bold;
    color: var(--cordestaque); 
    height: 70px;
    text-align: center;
}

.message {
    font-size: 0.95rem;
    color: #444;
    flex-grow: 1;
    margin-bottom: 1rem;
}
