.info {
    background-color: var(--cordestaque) !important;
    border: none !important;
    border-radius: 30px !important;
}

.action {
    background-color: var(--cordestaque) !important;
}

.info:hover, .action:hover {
    background-image: var(--corhover) !important;
}

.back {
    background-color: white !important;
    border: 1px solid var(--cordestaque) !important;
}