.title {
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.bttn {
    background-color: var(--cordestaque) !important; 
}

.bttn:hover {
    background-color: var(--corhover) !important;
}