.container {
    margin: 10px;
}

.formfield {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}

.sendButton, .nextButton {
    background-color: var(--cordestaque) !important; 
    width: 100%;
}

.sendButton:hover, .nextButton:hover {
    background-image: var(--corhover) !important;
}

.backButton {
    color: var(--cordestaque) !important;
    background-color: white !important;
    border: 1px solid var(--cordestaque) !important;
    width: 100%;
}